/* 전체 페이지 레이아웃 */
.adminContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0;
  padding: 0;
}

.mainContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}