services:
  frontend:
    image: cjw0324/frontend-app
    ports:
      - "3000:3000"

  backend:
    image: cjw0324/backend-app
    ports:
      - "8080:8080"
    command: "--spring.profiles.active=prod"

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    command:
      - "--web.external-url=/prometheus"

  grafana:
    image: grafana/grafana
    ports:
      - "4000:3000"
    volumes:
      - grafana-storage:/var/lib/grafana
    environment:
      - GF_SERVER_ROOT_URL=https://www.devprep.shop/grafana
      - GF_SERVER_SERVE_FROM_SUB_PATH=true

volumes:
  grafana-storage:
