.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px 20px;
  border-radius: 15px;
  border: 1px solid black;
  margin: 20px;
  font-size: larger;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navList {
  display: flex;
  list-style: none;
  gap: 40px;
  margin-left: 20px;
}

.navList a {
  text-decoration: none;
  color: black;
}

.navList li a:hover {
  color: #2e56bc;
  font-weight: bold;
}
