.container {
  width: 95%;
  display: flex;
  gap: 30px;
  margin: 20px;
  height: calc(100vh - 150px);
  align-items: stretch;
}

.card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  flex-basis: 0;
  overflow: auto;
}

.card.large {
  flex-grow: 2;
  overflow: hidden;
}

.card.small {
  flex-grow: 0.5;
}

.card .btn {
  margin: 8px 0;
  padding: 10px;
  background-color: #f0f0f0;
  color: black;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

.card .btn:hover {
  background-color: #5a72b0aa;
}

.selectedBtn {
  background-color: #8e8e8eaa;
}

.dropdown {
  margin-top: 15px;
}

.select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.select:focus {
  outline: none;
  border-color: #2e56bc;
}

.dropdown {
  margin-top: 15px;
  position: relative;
}

.dropdownButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.arrow {
  font-size: 16px;
}

.dropdownList {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.dropdownItem {
  padding: 8px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #e0e0e0;
}

.dropdownItem:active {
  background-color: #e0e0e0;
}

.selected {
  background: #e0e0e0;
  font-weight: bold;
}

.listItem {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.listItem:last-child {
  border-bottom: none;
}

.listItem:hover {
  background: #e0e0e0;
}

.noItems {
  color: #777;
  font-style: italic;
}

.updateButton {
  background-color: #006aff;
  color: white;
  padding: 8px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.deleteButton {
  background-color: #f44336;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  margin-right: 40px;
}

.noteDeleteButton {
  background-color: #f44336;
  color: white;
  padding: 7px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  margin-right: 20px;
  float: right;
  font-size: 1.1rem;
}

.actionButtons {
  display: inline-block;
  float: inline-end;
}

.largeText {
  font-size: 1.6rem;
  margin: 15px;
}

.textarea {
  width: 95%;
  height: 200px;
  padding: 10px;
  border: 2px solid #cacaca;
  border-radius: 8px;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
  margin: 15px;
  resize: vertical;
  box-sizing: border-box;
}

.textarea:focus {
  border-color: #2e56bc;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 128, 0, 0.3);
}

.label {
  font-size: 1rem;
  margin: 8px;
}

.checkbox {
  margin-left: 15px;
}

.text {
  font-size: 1.1rem;
  margin-top: 20px;
  margin-left: 16px;
  margin-right: 16px;
}

.large {
  position: relative;
  padding-bottom: 50px;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ddd;
}
